@import 'colors';

%uppercase { text-transform: uppercase; }

.green { color: $lighterGreen; }
.lightGrey { color: $lightGrey; }
.red { color: $red; }
.spaceBottom { margin-bottom: 60px; }

.container {
  padding-right: 25px;
  padding-left: 25px;
  margin-right: auto;
  margin-left: auto;
}